$mobile: 360px; // up to 640px
$tablet: 640px; // from 640px
$ipad: 768px; // from 768px
//$table: 768px; // from 768px
$desktop: 1024px; // from 1024px
$widescreen: 1280px; // from 1280px
$fullhd : 1440px // from 1440px