@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/CircularStd-Book/CircularStd-Book.eot');
  src: url('../fonts/CircularStd-Book/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
      url('../fonts/CircularStd-Book/CircularStd-Book.woff2') format('woff2'),
      url('../fonts/CircularStd-Book/CircularStd-Book.woff') format('woff'),
      url('../fonts/CircularStd-Book/CircularStd-Book.svg#CircularStd-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UniversLTStd';
  src: url('../fonts/UniversLTStd/UniversLTStd.eot');
  src: url('../fonts/UniversLTStd/UniversLTStd.eot?#iefix') format('embedded-opentype'),
      url('../fonts/UniversLTStd/UniversLTStd.woff2') format('woff2'),
      url('../fonts/UniversLTStd/UniversLTStd.woff') format('woff'),
      url('../fonts/UniversLTStd/UniversLTStd.svg#UniversLTStd') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UniversLTStd';
  src: url('../fonts/UniversLTStd/UniversLTStd-Bold.eot');
  src: url('../fonts/UniversLTStd/UniversLTStd-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/UniversLTStd/UniversLTStd-Bold.woff2') format('woff2'),
      url('../fonts/UniversLTStd/UniversLTStd-Bold.woff') format('woff'),
      url('../fonts/UniversLTStd/UniversLTStd-Bold.svg#UniversLTStd-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}