* {
  box-sizing: border-box;
}

body {
  font-family: 'UniversLTStd';
  background: $blue-light;
  color: $black-light;
  
  &.no-scroll {
    overflow: hidden;
    background: $blue-light;

    @include mq(tablet) {
      overflow: visible;
    }
  }

  & a {
    color: $black-light;
  }
}

img {
  max-width: 100%;
}

#app {
  .modal-expanded & {
    overflow: hidden;
  }
}



