@import "_breakpoints";

/* Variables */
/* ------------------------ */

/*Prefix*/
$prefix: es;

/* Base Colors */
$black: #000000;
$black-light: #444C61;
$white: #ffffff;
$grey: rgba(68, 76, 97, 0.6);
$blue: #009ee0;
$red: red;
$blue-light: #fcfdff;
$blue-transparent: rgba(0, 158, 224, .1);
$shadow-blue: #434b60;

/* Sizes */
$xxsmall: 12px;
$xsmall: 13px;
$small: 14px;
$regular: 16px;
$big: 18px;
$large: 30px;
$xlarge: 40px;
$xxlarge: 50px;

/* Weights */
$light: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$ultra-bold: 800;

/* Breakpoints Map*/
$breakpoints: (
  mobile: $mobile,
  tablet: $tablet,
  ipad: $ipad,
  desktop: $desktop,
  widescreen: $widescreen,
);

$percentages: (
  w-5: 5%,
  w-10: 10%,
  w-20: 205%,
  w-25: 25%,
  w-40: 40%,
  w-50: 50%,
  w-100: 100%,
);

/* Helpers*/
$fontSizes: 10px, 11px, 12px, 13px, 14px, 15px, 16px, 17px, 18px, 20px, 22px, 24px, 26px, 30px, 40px;
$marginTop: 0px, 5px, 8px, 10px, 12px, 14px, 16px, 18px, 20px, 24px, 30px, 40px, 50px, 60px, 80px, 100px;
$marginBottom: 0px, 5px, 8px, 10px, 12px, 14px, 16px, 18px, 20px, 24px, 30px, 40px, 50px, 60px, 80px, 100px, 120px, 180px;
$marginVertical: 0px, 5px, 8px, 10px, 12px, 14px, 16px, 18px, 20px, 24px, 30px, 40px, 50px, 60px, 80px, 100px;
$padding: 0px, 5px, 10px, 15px, 20px, 24px, 30px, 35px, 40px;
$paddingLeft: 0px, 5px, 10px, 15px, 20px, 24px, 30px, 35px, 40px;
$paddingVertical: 0px, 5px, 10px, 15px, 20px, 24px, 30px, 35px, 40px, 50px, 60px;
$paddingHorizontal: 0px, 5px, 10px, 15px, 20px, 24px, 30px, 35px, 40px, 50px, 60px, 70px, 80px, 140px;
/* Functions */
/* ------------------------ */

@function toRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

/* Mixins */
/* ------------------------ */

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

