@import '../base/settings';

@each $fs in $fontSizes {
  $number: $fs / ($fs * 0 + 1);

  .fs#{$number} {
    font-size: toRem($fs);
  }
}

@each $fsmd in $fontSizes {
  $number: $fsmd / ($fsmd * 0 + 1);

  .fs#{$number}-md {
    @include mq('desktop') {
      font-size: toRem($fsmd);
    }
  }
}

@each $mb in $marginBottom {
  $number: $mb / ($mb * 0 + 1);

  .mb#{$number} {
    margin-bottom: $mb;
  }
}

@each $mb-md in $marginBottom {
  $number: $mb-md / ($mb-md * 0 + 1);

  .mb#{$number}-md {
    @include mq('tablet') {
      margin-bottom: $mb-md;
    }
  }
}

@each $mt in $marginTop {
  $number: $mt / ($mt * 0 + 1);

  .mt#{$number} {
    margin-top: $mt;
  }
}

@each $mt-md in $marginTop {
  $number: $mt-md / ($mt-md * 0 + 1);

  .mt#{$number}-md {
    @include mq('tablet') {
      margin-top: $mt-md;
    }
  }
}

@each $mv in $marginVertical {
  $number: $mv / ($mv * 0 + 1);

  .mv#{$number} {
    margin: $mv 0;
  }
}

@each $mv-md in $marginVertical {
  $number: $mv-md / ($mv-md * 0 + 1);

  .mv#{$number}-md {
    @include mq('tablet') {
      margin: $mv-md 0;
    }
  }
}

@each $pd in $padding {
  $number: $pd / ($pd * 0 + 1);

  .pd#{$number} {
    padding: $pd;
  }
}

@each $pd-md in $padding {
  $number: $pd-md / ($pd-md * 0 + 1);

  .pd#{$number}-md {
    @include mq('tablet') {
      padding: $pd-md;
    }
  }
}

@each $pl in $paddingLeft {
  $number: $pl / ($pl * 0 + 1);

  .pl#{$number} {
    padding-left: $pl;
  }
}

@each $pl-md in $paddingLeft {
  $number: $pl-md / ($pl-md * 0 + 1);

  .pl#{$number}-md {
    @include mq('tablet') {
      padding-left: $pl-md;
    }
  }
}

@each $ph in $paddingHorizontal {
  $number: $ph / ($ph * 0 + 1);

  .ph#{$number} {
    padding-left: $ph;
    padding-right: $ph;
  }
}

@each $ph-md in $paddingHorizontal {
  $number: $ph-md / ($ph-md * 0 + 1);

  .ph#{$number}-md {
    @include mq('tablet') {
      padding-left: $ph-md;
      padding-right: $ph-md;
    }
  }
}

@each $pv in $paddingVertical {
  $number: $pv / ($pv * 0 + 1);

  .pv#{$number} {
    padding-bottom: $pv;
    padding-top: $pv;
  }
}

@each $pv-md in $paddingVertical {
  $number: $pv-md / ($pv-md * 0 + 1);

  .pv#{$number}-md {
    @include mq('tablet') {
      padding-bottom: $pv-md;
      padding-top: $pv-md;
    }
  }
}

@each $property, $color in $colors {
  .text-#{$property} {
    color: $color;

    &:hover {
      color: $color;
    }
  }
}

@each $property, $color in $colors {
  .bg-#{$property} {
    background-color: $color;
  }
}

@each $width-class, $percent  in $percentages {
  .#{$width-class} {
    width: $percent;
  }
}

.bold {
  font-weight: $bold;
}

.medium {
  font-weight: $medium;
}

.normal {
  font-weight: $normal;
}

.uppercase {
  text-transform: uppercase;
}