.is-gapless {
  margin: 0 !important;
  padding: 0 !important;
}

.container {
  top: 60px;
  margin-top: 40px;

  @include mq('desktop') {
    width: 1074px;
    top: 0;
  }
}

.d-block {
  display: block;
}

.is-danger-message {
  color: $danger;
  text-align: left;
  display: block;
}