.#{$prefix} {
  &-avatar {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    margin-right: 5%;

    &__wrapper {
      align-items: center;
      display: flex;
    }

    &-notification {
      margin: 0 5px;
    }

    &__photo {
      display: block;
      margin: 0 4px;

      & img {
        border-radius: 50%;
        width: 35px;
      }
    }

    &__label {
      font-family: 'CircularStd';
    }
  }
}