.#{$prefix} {
  &-card {

  
    &-last-article {
      width: 100%;

      @include mq('desktop') {
        width: 25%;
      }

      &__title {
        font-family: 'CircularStd';
        color: $grey;
        text-align: center;

        @include mq('desktop') {
          text-align: left;
        }  
      }

      &__body {
        text-align: center;

        @include mq('desktop') {
          text-align: left;
        }  
      }

      > div {
        display: block;
        padding: toRem(8px) 0;
      }
      
      & label {
        display: block;
      }
    }
  }
}