.#{$prefix} {
  &-header {
    background: $white;
    box-shadow: 2px 5px 15px 1px rgba($shadow-blue, 0.15);
    left: 0;
    position: fixed;
    top: 0;
    transition: all 0.2s ease-in-out;
    width: 100%;
    z-index: 100;

    @include mq('desktop') {
      padding: 0;
      position: inherit;
    }

    &__logo {
      cursor: pointer;
      line-height: 1;
      padding: 19px 0;
      text-align: center;
      transition: all 0.2s ease-in-out;
    }

    &__title {
      align-self: center;
      border-top: 4px $white solid;
      color: $black-light;
      cursor: pointer;
      display: block;
      text-align: center;

      @include mq('desktop') {
        padding: 28px 0;
      }

      & label {
        font-family: 'UniversLTStd';
        font-weight: 400;
        height: auto;
        cursor: pointer;
        font-size: toRem(18px);
      }

      &.active {
        border-top: 4px $blue solid;
        background-color: $blue-transparent;
        & label {
          color: $blue;
        }
      }
    }
  }
}