.#{$prefix} {
  &-input {
    &__search {
      background-color: rgba(108, 129, 164, 0.12);
      border: none;
      border-radius: 8px;
      font-size: $regular;
      height: 35px;
      opacity: 0.4;
      padding-left: 16px;
      width: 400px;

      &:focus {
        outline: none;
      }
    }

    &-icon {
      float: left;
      position: relative;
    }

    &__icon-search {
      cursor: pointer;
      position: absolute;
      right: 15px;
      top: 5px;

      &::before {
        content: "\f002";
        font-family: FontAwesome;
      }
    }

  }
}