.#{$prefix} {
  &-modal {
    background-color: rgba($black, 0.4);
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;

    &__content {
      background-color: $white;
      box-shadow: 2px 5px 15px 1px rgba($shadow-blue, 0.15);
      margin: 10px;
      padding: 24px;
      position: relative;
      line-height: 1.25;
      transform: translate3d(0, 0, 0);
      transition: all 0.2s eaes-in-out;

      @include mq('tablet') {
        margin-left: auto;
        margin-right: auto;
      }
    }

    &__close {
      cursor: pointer;
      font-weight: bold;
      position: absolute;
      top: 20px; 
      right: 20px;
      max-width: 15px;
    }

    &__title {
      font-size: toRem(22px);
      font-weight: 500;
      color: $grey;
      margin-bottom: 16px;
      text-align: center;
      
      @include mq('tablet') {
        font-size: toRem(25px);
      }
    }

    &__description {
      font-size: toRem(15px);
      margin-bottom: 28px;
      color: $grey;
      
      @include mq('tablet') {
        margin-bottom: 48px;
      }      
    }

    &__actions {
      display: flex;
      justify-content: space-around;

      .es-btn, .es-btn-o {
        max-width: 120px;

        @include mq('tablet') {
          max-width: 157px;
        }
      }
    }

    &--md {
      .es-modal {
        &__content {
          padding: 40px 20px;
          max-width: 635px;
          
          @include mq('tablet') {
            margin: 50px auto;
          }
        }
      }
    }
    
    &--sm {
      .es-modal {
        &__content {
          max-width: 436px;
          padding: 40px 20px;

          @include mq('tablet') {
            margin: 0 auto;
            padding: 44px;
          }
        }
      }
    }

    &--vcentered {
      .es-modal {
        &__content {
          position: relative;
          top: 50%;
          transform: translate3d(0, -50%, 0);

          @include mq('tablet') {
            margin: 0 auto;
          }          
        } 
      }
    }

    &.is-visible {
      display: block;
    }
  }
}
