.#{$prefix} {
  &-nav {
    height: 0;
    overflow: hidden;

    @include mq('desktop') {
      border-bottom: solid rgba($blue-light, 0.5) 1px;
      height: auto;
      overflow: visible;
    }

    .mobile-nav-expanded & {
      background: $white;
      height: 100vh;
      position: fixed;
      top: 60px;
      width: 100%;
      z-index: 150;

      @include mq('desktop') {
        height: auto;
        position: static;
      }
    }
  }

  &-hamburger {
    left: 5%;
    position: absolute;
    top: 40%;
    width: 22px;

    @include mq('desktop') {
      display: none;
    }

    &__bar {
      background-color: $blue;
      border-radius: 3px;
      display: block;
      height: 2px;
      margin-bottom: 4px;
      transition: all 0.2s ease-in-out;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .mobile-nav-expanded & {
      &__bar {
        &:nth-child(1) {
          transform: rotate(45deg) translate3d(0, -3px, 0);
          transform-origin: 0px;
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(-45deg) translate3d(0, 3px, 0);
          transform-origin: 0;
        }
      }    
    }
  }
}
