.#{$prefix} {
  &-section {
    padding: 10px 16px;

    &__title {
      font-size: toRem(25px);
      font-weight: bold;
    }

    &__subtitle {
      font-size: toRem(22px);
      font-weight: bold;
    }
  
    &__description {
      color: $grey;
      font-size: $regular;
    }

    & span.is-pull-right {
      margin-top: 10px;
      display: block;
      text-align: center;

      @include mq('desktop') {
        margin-top: 0;
        float: right;
      }

      & a {
        @include mq('tablet', 'max') {
          width: 100%;
        }

      }

      &:first-child {
        @include mq('tablet') {
          padding-left: 10px;
        }
      }
    }
  }
}